.title {
    text-align: center;
    color: grey;
}
h1 {
    text-align: center;
    color: #a7c8e6;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
li a {
    height: 25 rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #0088ff;
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

  }
  
button {
    background-color: #a7c8e6;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 10px 20px;
    object-fit: cover;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin:1rem;
  }
button:hover{
        background: #266198;
        cursor: pointer;
    
}
button:active {
    background-color: #ff8800;
    color: white;}
