h1 {
    text-align: center;
    color: grey;
}

ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 400px;
    width: 60rem;
    border: 1px solid whitesmoke;
    border-radius: 2rem;
    margin: 2rem;
    overflow: hidden;
  }
  
  ul li div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  ul li h1 {
    color: #0088ff;
  }
  
  ul li h2, ul li a {
    color: grey;
  }
  
  ul li img {
    width: 40%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 2rem;
    margin-left: 2rem;
  }
  
    